extends layout
block nav-link
  li
    a(href="/") トップ
block content
  form(action="/signup", method="POST")
    fieldset
      legend 新規登録
      - if (typeof(errmsg) !== 'undefined') {
        p= errmsg
      - }
      p
        label ユーザーID
        input(name="user[userID]", type="text")
      p
        label パスワード
        input(name="user[password]", type="password")
      p
        button 登録

